/** {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	}*/

body {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: CenturyGothic;
}

#blogTitle {
  font: Verdana;
  /*position: fixed;*/
  right: 0;
  top: 0;
  background-color: #A2A0A3;
  text-align: left;
  padding: 15px;
}

nav {
  font: Verdana;
  background-color: #72B5F7;
  color: #0B0082;
  margin-top: 10px;
  text-align: justify;
  display: inline-block;
}

img {
  display: inline;
}

main {
  text-align: left;
}
