
body {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-family: CenturyGothic;
  background-color: #27273B;
}
header {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #fffff8;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
nav a{
  text-decoration: none;
}
select {
 margin: 10px;
}
main {
  text-align: left;
  background-color: #fffff8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 30px;
}
div article {
  border-width: 5px;
  border-bottom-color: black;
}
img {
  display:flex;
}
footer {
  color: #D8A3FF;
}
.tabLinks {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.tabLinks a {
  color: #D8A3FF;
}
.dropDowns {
  color: #D8A3FF;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.author a{
  text-decoration: none;
}
.readMore, .readLess {
  color: #B44EFD;
  text-decoration: none;
}
.editMode {
  color: red;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: bold;
}
#updateArticle, #deleteArticle{
  margin: 10px;
  background-color: #9C72E0;
}

@media screen and (max-width: 500px) {
  /*main{
  background-color: red;
  }*/
  nav{
  }
  img {
    width: 100%;
  }
}
