
body {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-family: CenturyGothic;
  background-color: #5D4A76;
}

#blogTitle {
  font: Verdana;
  right: 0;
  top: 0;
  background-color: #A2A0A3;
  text-align: left;
  padding: 15px;
}

nav {
  font-family: Verdana;

  color: #fffff8;
  margin-top: 10px;

}

img {
  display:flex;

}

main {
  text-align: left;
  background-color: #fffff8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 30px;
}

div article {
  border-width: 5px;
  border-bottom-color: black;

}
.tabLinks a {
  float: left;
  width: 25%;
  text-decoration: none;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fffff8;
}

.dropDown select {
width: 20%;
}

@media screen and (max-width: 500px) {
  main{
  background-color: red;
  }
  nav{

  }
  img {
    width: 100%;
  }




}
