
body {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: CenturyGothic;
}

#blogTitle {
  font: Verdana;
  right: 0;
  top: 0;
  background-color: #A2A0A3;
  text-align: left;
  padding: 15px;
}

nav {
  font-family: Verdana;
  background-color: none;
  color: #0B0082;
  margin-top: 10px;

}

img {
  display: inline-flex;
  width: 100%;
}

main {
  text-align: left;
}

div article {
  border-width: 5px;
  border-bottom-color: black;

}
.tabLinks a {
  float: left;
  width: 25%;
  text-decoration: none;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.dropDown select {
width: 20%;
}

@media screen and (max-width: 500px) {
  main{
  background-color: red;
  }
  nav{
    
  }




}
